body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background-color: #ffffff; /* Cor de fundo do contêiner */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1#tabelLabel {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

hr.divider {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

p {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button.edit {
        background-color: #36a630; /* Cor do botão Editar */
        color: white;
    }

        button.edit:hover {
            background-color: #2c8628;
        }

        button.edit:active {
            background-color: #236d21;
        }

    button.delete {
        background-color: #d32f2f; /* Cor do botão Excluir */
        color: white;
    }

        button.delete:hover {
            background-color: #b72323;
        }

        button.delete:active {
            background-color: #9e1e1e;
        }
    }

        button.edit:hover {
            background-color: #45a049;
        }

        button.edit:active {
            background-color: #3d8e41;
        }

    button.delete {
        background-color: #e57373;
        color: white;
    }

        button.delete:hover {
            background-color: #c62828;
        }

        button.delete:active {
            background-color: #b71c1c;
        }
